{% extends 'base.html' %}
{%block title%}{%endblock%}
{% block template %}

<!-- Start Sign up -->
<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sign-up-area">

                    <div class="mu-heading-area">
                        <h2 class="mu-heading-title">Login</h2>
                        <span class="mu-header-dot"></span>
                        <p>Chances are your friends are discussing their favorite (and least favorite) books on
                            Golden reads.</p>
                    </div>

                    <!-- Start Sign up Content -->
                    <div class="sign-up-content">

                        <div id="form-messages"></div>
                        <form id="ajax-contact" method="POST" action="{{ url_for('login', next=next) }}"
                            class="sign-up-form">
                            <!-- CSRF Protection -->
                            {{ form.hidden_tag() }}


                            <div class="form-group">
                                {{ form.email.label}}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control")}}
                                {% endif %}


                            </div>
                            <div class="form-group">
                                {{ form.password.label}}
                                {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control")}}
                                {% endif %}


                            </div>

                            <div class="form-check">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>

                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info mu-send-msg-btn") }}

                            </div>
                            <small class="text-muted">
                                <a href="#">Forgot Password??</a>
                            </small>
                        </form>

                    </div>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Create new account? <a class="ml-2" href="{{ url_for('signup') }}">Sign Up Now </a>
                        </small>
                    </div>
                    <!-- End Sign up Content -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Sign up -->

{%endblock template%}