{% extends 'base.html' %} {%block title%} {{title}} {%endblock%}
{% block template %}



<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sign-up-area">
                    <div class="sign-up-content">
                        <div id="form-messages">
                            <form id="ajax-contact" method="POST" action="{{ url_for('books', next=next) }}"
                                class="sign-up-form">
                                <!-- CSRF Protection -->
                                {{ form.hidden_tag() }}

                                <div class="form-group">
                                    {{ form.search.label}}

                                    {% if form.search.errors %}
                                    {{ form.search(class="form-control is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.search.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.search(class="form-control")}}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-outline-info mu-send-msg-btn") }}

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}