{% extends 'base.html' %}
{%block title%}{%endblock%}
{% block template %}

<!-- Start Sign up -->
<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sign-up-area">

                    <div class="mu-heading-area">
                        <h2 class="mu-heading-title">Sign Up</h2>
                        <span class="mu-header-dot"></span>
                        <p>Chances are your friends are discussing their favorite (and least favorite) books on
                            Golden reads.</p>
                    </div>

                    <!-- Start Sign up Content -->
                    <div class="sign-up-content">

                        <div id="form-messages"></div>
                        <form id="ajax-contact" method="POST" action="{{ url_for('signup', next=next) }}"
                            class="sign-up-form">

                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                {{ form.username.label}}
                                {{ form.username(class="form-control")}}


                            </div>
                            <div class="form-group">
                                {{ form.email.label}}
                                {{ form.email(class="form-control")}}


                            </div>
                            <div class="form-group">
                                {{ form.password.label}}
                                {{ form.password(class="form-control")}}


                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label}}
                                {{ form.confirm_password(class="form-control")}}


                            </div>



                            <div class="form-group">
                                {{ form.submit(class="mu-send-msg-btn")}}
                            </div>
                        </form>

                    </div>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have an account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
                        </small>
                    </div>
                    <!-- End Sign up Content -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Sign up -->

{%endblock template%}